openapi: 3.1.0
info:
  title: Otonomo Fleet EU API
  version: '1.1'
  description: Connected-vehicle data API for fleets. Reconstructed by API Evangelist from the per-operation OpenAPI 3.1 definitions embedded in the live Otonomo API reference at docs.otonomo.io (ReadMe). US region host api.otonomo.io; EU region host api.eu.otonomo.io.
  x-source: https://docs.otonomo.io/reference
  x-assembled-by: API Evangelist enrichment pipeline
servers:
- url: https://api.otonomo.io
  description: US region
- url: https://api.eu.otonomo.io
  description: EU region
security:
- oauth2: []
tags:
- name: EU
paths:
  /vehicle_details_attributes:
    get:
      summary: Attribute Explorer
      description: "This call provides the ability of attribute exploration within the Otonomo platform. \nThe response includes the relevant attributes according to the passed query parameters."
      operationId: attribute-explorer-1
      parameters:
      - name: authorization
        in: header
        description: '[General Access Token](https://docs.otonomo.io/reference/general-access-token) preceded by the token type string for "OAuth2", "Bearer".'
        required: true
        schema:
          type: string
      - name: model
        in: query
        description: The result can be filtered by the 'model' query param, to include only the specified model
        schema:
          type: string
      - name: make
        in: query
        description: The result can be filtered by the 'make' query param, to include only the specified make
        schema:
          type: string
      - name: year
        in: query
        description: The result can be filtered by the 'year' query param, to include only the specified year
        schema:
          type: string
      - name: engine_type
        in: query
        description: The result can be filtered by the 'engine_type' query param, to include only the specified engine_type
        schema:
          type: string
      - name: page
        in: query
        description: A function of pagination is implemented, the specified page number (as a query param) will be returned with its content.
        schema:
          type: integer
          format: int32
      - name: page_size
        in: query
        description: A function of page size is implemented, the specified size is related to the number of Json objects that are being returned (min value=1 | max value=1197 | is not specified=100).
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                filtered by make & year:
                  value: "{\n    \"count\": 73,\n    \"next\": null,\n    \"previous\": null,\n    \"results\": [\n        {\n            \"id\": 1195,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__brake__harsh\",\n                \"description\": \"indicates whether a harsh brake event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1196,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"deprecated_vehicle__provider__oem\",\n                \"description\": \"The name of the Original Equipment Manufacturer\",\n                \"type\": \"String\",\n                \"unit_name\": \"string\"\n            }\n        },\n        {\n            \"id\": 1197,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__vin\",\n                \"description\": \"The vehicle's identification number\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1198,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__acceleration__lateral\",\n                \"description\": \"The right (positive value) -and-left (negative value) acceleration of a vehicle in g.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"g\"\n            }\n        },\n        {\n            \"id\": 1199,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__acceleration__harsh\",\n                \"description\": \"indicates whether a harsh acceleration event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1200,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__otonomo_id\",\n                \"description\": \"A unique vehicle's identification number created by Otonomo\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1201,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__odometer__value\",\n                \"description\": \"The accumulated distance traveled by a vehicle in km\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        },\n        {\n            \"id\": 1202,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__acceleration__value\",\n                \"description\": \"The forward (positive value) -and-backward (negative value) acceleration of a vehicle in g.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"g\"\n            }\n        },\n        {\n            \"id\": 1203,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__cornering__harsh\",\n                \"description\": \"indicates whether a harsh cornering event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1204,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__longitude__value\",\n                \"description\": \"The GPS longitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 1205,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__provider__name\",\n                \"description\": \"The name of the provider\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1206,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__time__epoch\",\n                \"description\": \"The exact time of a given point (UTC) in Epoch format.\",\n                \"type\": \"Long\",\n                \"unit_name\": \"epoch\"\n            }\n        },\n        {\n            \"id\": 1207,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__speed__value\",\n                \"description\": \"The vehicle's current speed in Km/h\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km/h\"\n            }\n        },\n        {\n            \"id\": 1208,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__latitude__value\",\n                \"description\": \"The GPS latitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 1296,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) for top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1297,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__roof__sunroof_status\",\n                \"description\": \"The status of a vehicle's sunroof.\\n0 - Closed\\n1 - Open\\n2 - Sunroof is tilted-open\\n3 - Sunroof is running\\n4 - Sunroof in anti-wobble position\\n5 - Sunroof in an intermediate sliding position\\n6 - Sunroof in an intermediate tilted position\\n7 - Invalid\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1298,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1299,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1300,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1301,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1302,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1303,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__fuel__level\",\n                \"description\": \"A vehicle's current fuel level expressed in percentages (OBD-II-PID:2F)\",\n                \"type\": \"Float\",\n                \"unit_name\": \"percentage\"\n            }\n        },\n        {\n            \"id\": 1304,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1305,\n            \"model\": \"Camry-FA20\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1025,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__time__epoch\",\n                \"description\": \"The exact time of a given point (UTC) in Epoch format.\",\n                \"type\": \"Long\",\n                \"unit_name\": \"epoch\"\n            }\n        },\n        {\n            \"id\": 1026,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"deprecated_vehicle__provider__oem\",\n                \"description\": \"The name of the Original Equipment Manufacturer\",\n                \"type\": \"String\",\n                \"unit_name\": \"string\"\n            }\n        },\n        {\n            \"id\": 1027,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__fuel__level\",\n                \"description\": \"A vehicle's current fuel level expressed in percentages (OBD-II-PID:2F)\",\n                \"type\": \"Float\",\n                \"unit_name\": \"percentage\"\n            }\n        },\n        {\n            \"id\": 1028,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__vin\",\n                \"description\": \"The vehicle's identification number\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1029,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__otonomo_id\",\n                \"description\": \"A unique vehicle's identification number created by Otonomo\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1030,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__latitude__value\",\n                \"description\": \"The GPS latitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 1031,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__longitude__value\",\n                \"description\": \"The GPS longitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 1032,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__odometer__value\",\n                \"description\": \"The accumulated distance traveled by a vehicle in km\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        },\n        {\n            \"id\": 1033,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__provider__name\",\n                \"description\": \"The name of the provider\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1437,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__roof__sunroof_status\",\n                \"description\": \"The status of a vehicle's sunroof.\\n0 - Closed\\n1 - Open\\n2 - Sunroof is tilted-open\\n3 - Sunroof is running\\n4 - Sunroof in anti-wobble position\\n5 - Sunroof in an intermediate sliding position\\n6 - Sunroof in an intermediate tilted position\\n7 - Invalid\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1438,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1439,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) for top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1440,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1441,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1442,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__speed__value\",\n                \"description\": \"The vehicle's current speed in Km/h\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km/h\"\n            }\n        },\n        {\n            \"id\": 1443,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1444,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1445,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1446,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1560,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__brake__harsh\",\n                \"description\": \"indicates whether a harsh brake event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1561,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__acceleration__value\",\n                \"description\": \"The forward (positive value) -and-backward (negative value) acceleration of a vehicle in g.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"g\"\n            }\n        },\n        {\n            \"id\": 1562,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__acceleration__lateral\",\n                \"description\": \"The right (positive value) -and-left (negative value) acceleration of a vehicle in g.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"g\"\n            }\n        },\n        {\n            \"id\": 1568,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__cornering__harsh\",\n                \"description\": \"indicates whether a harsh cornering event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1575,\n            \"model\": \"Camry-LB10\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__acceleration__harsh\",\n                \"description\": \"indicates whether a harsh acceleration event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1091,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1092,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1093,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__speed__value\",\n                \"description\": \"The vehicle's current speed in Km/h\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km/h\"\n            }\n        },\n        {\n            \"id\": 1094,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1095,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__fuel__level\",\n                \"description\": \"A vehicle's current fuel level expressed in percentages (OBD-II-PID:2F)\",\n                \"type\": \"Float\",\n                \"unit_name\": \"percentage\"\n            }\n        },\n        {\n            \"id\": 1096,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__provider__name\",\n                \"description\": \"The name of the provider\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1097,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1098,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1099,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__longitude__value\",\n                \"description\": \"The GPS longitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 1100,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) for top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1101,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__odometer__value\",\n                \"description\": \"The accumulated distance traveled by a vehicle in km\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        },\n        {\n            \"id\": 1102,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__latitude__value\",\n                \"description\": \"The GPS latitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 1103,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"deprecated_vehicle__provider__oem\",\n                \"description\": \"The name of the Original Equipment Manufacturer\",\n                \"type\": \"String\",\n                \"unit_name\": \"string\"\n            }\n        },\n        {\n            \"id\": 1104,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__otonomo_id\",\n                \"description\": \"A unique vehicle's identification number created by Otonomo\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1105,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1106,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 1107,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__roof__sunroof_status\",\n                \"description\": \"The status of a vehicle's sunroof.\\n0 - Closed\\n1 - Open\\n2 - Sunroof is tilted-open\\n3 - Sunroof is running\\n4 - Sunroof in anti-wobble position\\n5 - Sunroof in an intermediate sliding position\\n6 - Sunroof in an intermediate tilted position\\n7 - Invalid\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1108,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__vin\",\n                \"description\": \"The vehicle's identification number\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1109,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__time__epoch\",\n                \"description\": \"The exact time of a given point (UTC) in Epoch format.\",\n                \"type\": \"Long\",\n                \"unit_name\": \"epoch\"\n            }\n        },\n        {\n            \"id\": 1290,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__acceleration__lateral\",\n                \"description\": \"The right (positive value) -and-left (negative value) acceleration of a vehicle in g.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"g\"\n            }\n        },\n        {\n            \"id\": 1291,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__brake__harsh\",\n                \"description\": \"indicates whether a harsh brake event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1292,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__acceleration__value\",\n                \"description\": \"The forward (positive value) -and-backward (negative value) acceleration of a vehicle in g.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"g\"\n            }\n        },\n        {\n            \"id\": 1293,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__cornering__harsh\",\n                \"description\": \"indicates whether a harsh cornering event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1294,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"event__acceleration__harsh\",\n                \"description\": \"indicates whether a harsh acceleration event was triggered 1 - event-triggered 0 - event stopped\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 1582,\n            \"model\": \"Camry-XSE\",\n            \"make\": \"Toyota\",\n            \"year\": \"2018\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__indication_light__maintenance\",\n                \"description\": \"Indicates if the maintenance light is on or off. on-1;0ff-0\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        }\n    ]\n}"
                filtered by page number:
                  value: "{\n    \"count\": 975,\n    \"next\": \"https://provider-be.us.otono.me/api/vehicle_details_attributes?page=4\",\n    \"previous\": \"https://provider-be.us.otono.me/api/vehicle_details_attributes?page=2\",\n    \"results\": [\n        {\n            \"id\": 220,\n            \"model\": \"Tundra-SR5 grade\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__latitude__value\",\n                \"description\": \"The GPS latitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 221,\n            \"model\": \"Tundra-SR5 grade\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"deprecated_vehicle__provider__oem\",\n                \"description\": \"The name of the Original Equipment Manufacturer\",\n                \"type\": \"String\",\n                \"unit_name\": \"string\"\n            }\n        },\n        {\n            \"id\": 222,\n            \"model\": \"Tundra-SR5 grade\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__provider__name\",\n                \"description\": \"The name of the provider\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 223,\n            \"model\": \"Tundra-SR5 grade\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 224,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 225,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 226,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__fuel__level\",\n                \"description\": \"A vehicle's current fuel level expressed in percentages (OBD-II-PID:2F)\",\n                \"type\": \"Float\",\n                \"unit_name\": \"percentage\"\n            }\n        },\n        {\n            \"id\": 227,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__provider__name\",\n                \"description\": \"The name of the provider\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 228,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__roof__sunroof_status\",\n                \"description\": \"The status of a vehicle's sunroof.\\n0 - Closed\\n1 - Open\\n2 - Sunroof is tilted-open\\n3 - Sunroof is running\\n4 - Sunroof in anti-wobble position\\n5 - Sunroof in an intermediate sliding position\\n6 - Sunroof in an intermediate tilted position\\n7 - Invalid\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 229,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__vin\",\n                \"description\": \"The vehicle's identification number\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 230,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__odometer__value\",\n                \"description\": \"The accumulated distance traveled by a vehicle in km\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        },\n        {\n            \"id\": 231,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 232,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"deprecated_vehicle__provider__oem\",\n                \"description\": \"The name of the Original Equipment Manufacturer\",\n                \"type\": \"String\",\n                \"unit_name\": \"string\"\n            }\n        },\n        {\n            \"id\": 233,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__latitude__value\",\n                \"description\": \"The GPS latitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 234,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__time__epoch\",\n                \"description\": \"The exact time of a given point (UTC) in Epoch format.\",\n                \"type\": \"Long\",\n                \"unit_name\": \"epoch\"\n            }\n        },\n        {\n            \"id\": 235,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) for top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 236,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 237,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 238,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__speed__value\",\n                \"description\": \"The vehicle's current speed in Km/h\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km/h\"\n            }\n        },\n        {\n            \"id\": 239,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 240,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 241,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__longitude__value\",\n                \"description\": \"The GPS longitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 242,\n            \"model\": \"Sienna-EB12\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__otonomo_id\",\n                \"description\": \"A unique vehicle's identification number created by Otonomo\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 279,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__infotainment__time_format\",\n                \"description\": \"indicate the time format in car's display. 1- 12 hours; 2- 24 hours\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 280,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__heater_status\",\n                \"description\": \"Indicate the status of the battery heater. 0- off, 1 - on\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 281,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"manufacturer__color__value\",\n                \"description\": \"The color of a vehicle\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 282,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__fully_charged\",\n                \"description\": \"Indicate wheater the hv battery is fully charged. 0 - false, 1- true\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 283,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__1_2_status\",\n                \"description\": \"The vehicle door status. The (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left. E.g. on a typical passenger vehicle, vehicle_door_1_1_status relates to the front-left door.    \\n2 - open\\n3 - closed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 284,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__2_2_status\",\n                \"description\": \"The vehicle door status. The (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left. E.g. on a typical passenger vehicle, vehicle_door_1_1_status relates to the front-left door.    \\n2 - open\\n3 - closed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 285,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_remaining_time\",\n                \"description\": \"indicates the time left to fully charge EV HV battery\",\n                \"type\": \"Float\",\n                \"unit_name\": \"minute\"\n            }\n        },\n        {\n            \"id\": 286,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 287,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_mode\",\n                \"description\": \"Indicates the charging mode - No,Slow,Quick\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 288,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__provider__name\",\n                \"description\": \"The name of the provider\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 289,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__1_1_status\",\n                \"description\": \"The vehicle door status. The (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left. E.g. on a typical passenger vehicle, vehicle_door_1_1_status relates to the front-left door.    \\n2 - open\\n3 - closed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 290,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__central_lock_status\",\n                \"description\": \"Status of the vehicle central lock.\\n0 - open\\n1 - locked\\n2 - vehicle locked internally\\n3 - vehicle locked externally\\n4 - vehicle selectively unlocked\\n5 - vehicle secured\\n6 - failure\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 291,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__vin\",\n                \"description\": \"The vehicle's identification number\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 292,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hood__status\",\n                \"description\": \"Indicates the engine's hood (bonnet) status.\\r\\n0 - closed\\r\\n1 - open\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 293,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__2_1_status\",\n                \"description\": \"The vehicle door status. The (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left. E.g. on a typical passenger vehicle, vehicle_door_1_1_status relates to the front-left door.    \\n2 - open\\n3 - closed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 294,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__level\",\n                \"description\": \"HV (high voltage) battery level in percentage\",\n                \"type\": \"Float\",\n                \"unit_name\": \"percentage\"\n            }\n        },\n        {\n            \"id\": 295,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__odometer__value\",\n                \"description\": \"The accumulated distance traveled by a vehicle in km\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        },\n        {\n            \"id\": 296,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"deprecated_vehicle__provider__oem\",\n                \"description\": \"The name of the Original Equipment Manufacturer\",\n                \"type\": \"String\",\n                \"unit_name\": \"string\"\n            }\n        },\n        {\n            \"id\": 297,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_power\",\n                \"description\": \"current charging power (only valid while charging) in kW\",\n                \"type\": \"Float\",\n                \"unit_name\": \"kW\"\n            }\n        },\n        {\n            \"id\": 298,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"location__latitude__value\",\n                \"description\": \"The GPS latitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 299,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__heading__angle\",\n                \"description\": \"The angle between the vehicle's direction in comparison to the north in degrees\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 300,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__time__epoch\",\n                \"description\": \"The exact time of a given point (UTC) in Epoch format.\",\n                \"type\": \"Long\",\n                \"unit_name\": \"epoch\"\n            }\n        },\n        {\n            \"id\": 301,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) for top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 302,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_rate_km\",\n                \"description\": \"Indicate the hv battery charging rate in km/h\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km/h\"\n            }\n        },\n        {\n            \"id\": 303,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 304,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__trunk__status\",\n                \"description\": \"The status of a vehicle's trunk (boot).\\n0 - locked\\n1 - closed unlocked\\n2 - open\\n3 - open at a high speed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 305,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__scheduled_charging_pending\",\n                \"description\": \"Indicate wheater scheduled charging is pending. 0- false; 1-true\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 306,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__remaining_range\",\n                \"description\": \"The approximated distance an electric vehicle can drive before running out of battery\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        },\n        {\n            \"id\": 307,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 308,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__infotainment__hv_battery_charge_rate_unit\",\n                \"description\": \"Indicate the display's charge rate unit. mi/hr-1, km/hr-2, kW-3\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 309,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__ac_charging_voltage\",\n                \"description\": \"The Voltage of the last charging cycle (Alternating current).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"volt\"\n            }\n        },\n        {\n            \"id\": 310,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"location__longitude__value\",\n                \"description\": \"The GPS longitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 311,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_port_door_status\",\n                \"description\": \"Indicate wheater the hv battery charging port door is open or closed. 0- closed, 1-open\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 312,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"environment__external__temperature\",\n                \"description\": \"The current air temperature level outside of the vehicle (ODB-II-PID:46) in celsius.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"celsius\"\n            }\n        },\n        {\n            \"id\": 313,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__otonomo_id\",\n                \"description\": \"A unique vehicle's identification number created by Otonomo\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 314,\n            \"model\": \"Model Y\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"environment__internal__temperature\",\n                \"description\": \"The current air temperature inside a vehicle in celsius.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"celsius\"\n            }\n        },\n        {\n            \"id\": 315,\n            \"model\": \"Model 3\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__speed__value\",\n                \"description\": \"The vehicle's current speed in Km/h\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km/h\"\n            }\n        },\n        {\n            \"id\": 335,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 336,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_1_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 337,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__fuel__level\",\n                \"description\": \"A vehicle's current fuel level expressed in percentages (OBD-II-PID:2F)\",\n                \"type\": \"Float\",\n                \"unit_name\": \"percentage\"\n            }\n        },\n        {\n            \"id\": 338,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__vin\",\n                \"description\": \"The vehicle's identification number\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 339,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__provider__name\",\n                \"description\": \"The name of the provider\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 340,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__longitude__value\",\n                \"description\": \"The GPS longitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 341,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__odometer__value\",\n                \"description\": \"The accumulated distance traveled by a vehicle in km\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        },\n        {\n            \"id\": 342,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) for top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 343,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"deprecated_vehicle__provider__oem\",\n                \"description\": \"The name of the Original Equipment Manufacturer\",\n                \"type\": \"String\",\n                \"unit_name\": \"string\"\n            }\n        },\n        {\n            \"id\": 344,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__1_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 345,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 346,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__1_2_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 347,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__time__epoch\",\n                \"description\": \"The exact time of a given point (UTC) in Epoch format.\",\n                \"type\": \"Long\",\n                \"unit_name\": \"epoch\"\n            }\n        },\n        {\n            \"id\": 348,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__roof__sunroof_status\",\n                \"description\": \"The status of a vehicle's sunroof.\\n0 - Closed\\n1 - Open\\n2 - Sunroof is tilted-open\\n3 - Sunroof is running\\n4 - Sunroof in anti-wobble position\\n5 - Sunroof in an intermediate sliding position\\n6 - Sunroof in an intermediate tilted position\\n7 - Invalid\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 349,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__speed__value\",\n                \"description\": \"The vehicle's current speed in Km/h\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km/h\"\n            }\n        },\n        {\n            \"id\": 350,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__otonomo_id\",\n                \"description\": \"A unique vehicle's identification number created by Otonomo\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 351,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__tire__2_2_pressure\",\n                \"description\": \"The exact amount of tire pressure the vehicle's (i,j) wheel is experiencing.\\r\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"psi\"\n            }\n        },\n        {\n            \"id\": 352,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"location__latitude__value\",\n                \"description\": \"The GPS latitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 353,\n            \"model\": \"Highlander-Limited\",\n            \"make\": \"Toyota\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Gasoline\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__window__2_1_status\",\n                \"description\": \"The status of a vehicle's (i,j) window.\\nThe (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left.     \\n0 - Intermediate position\\n1 - Opened\\n2 - Closed\\n3 - Airing position\\n4 - Intermediate, airing position\\n5 - Currently running\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 354,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_power\",\n                \"description\": \"current charging power (only valid while charging) in kW\",\n                \"type\": \"Float\",\n                \"unit_name\": \"kW\"\n            }\n        },\n        {\n            \"id\": 355,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"environment__external__temperature\",\n                \"description\": \"The current air temperature level outside of the vehicle (ODB-II-PID:46) in celsius.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"celsius\"\n            }\n        },\n        {\n            \"id\": 356,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__central_lock_status\",\n                \"description\": \"Status of the vehicle central lock.\\n0 - open\\n1 - locked\\n2 - vehicle locked internally\\n3 - vehicle locked externally\\n4 - vehicle selectively unlocked\\n5 - vehicle secured\\n6 - failure\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 357,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__2_2_status\",\n                \"description\": \"The vehicle door status. The (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left. E.g. on a typical passenger vehicle, vehicle_door_1_1_status relates to the front-left door.    \\n2 - open\\n3 - closed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 358,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__1_1_status\",\n                \"description\": \"The vehicle door status. The (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left. E.g. on a typical passenger vehicle, vehicle_door_1_1_status relates to the front-left door.    \\n2 - open\\n3 - closed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 359,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__scheduled_charging_pending\",\n                \"description\": \"Indicate wheater scheduled charging is pending. 0- false; 1-true\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 360,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__trunk__status\",\n                \"description\": \"The status of a vehicle's trunk (boot).\\n0 - locked\\n1 - closed unlocked\\n2 - open\\n3 - open at a high speed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 361,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_rate_km\",\n                \"description\": \"Indicate the hv battery charging rate in km/h\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km/h\"\n            }\n        },\n        {\n            \"id\": 362,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__2_1_status\",\n                \"description\": \"The vehicle door status. The (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left. E.g. on a typical passenger vehicle, vehicle_door_1_1_status relates to the front-left door.    \\n2 - open\\n3 - closed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 363,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_port_door_status\",\n                \"description\": \"Indicate wheater the hv battery charging port door is open or closed. 0- closed, 1-open\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 364,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__ac_charging_voltage\",\n                \"description\": \"The Voltage of the last charging cycle (Alternating current).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"volt\"\n            }\n        },\n        {\n            \"id\": 365,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__door__1_2_status\",\n                \"description\": \"The vehicle door status. The (i_j) notation refers to the i-th row and j-th column starting from (1,1) top left. E.g. on a typical passenger vehicle, vehicle_door_1_1_status relates to the front-left door.    \\n2 - open\\n3 - closed\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 366,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"manufacturer__color__value\",\n                \"description\": \"The color of a vehicle\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 367,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__remaining_range\",\n                \"description\": \"The approximated distance an electric vehicle can drive before running out of battery\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        },\n        {\n            \"id\": 368,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__identification__vin\",\n                \"description\": \"The vehicle's identification number\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 369,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hv_battery__charging_mode\",\n                \"description\": \"Indicates the charging mode - No,Slow,Quick\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 370,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"metadata__provider__name\",\n                \"description\": \"The name of the provider\",\n                \"type\": \"String\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 371,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"environment__internal__temperature\",\n                \"description\": \"The current air temperature inside a vehicle in celsius.\",\n                \"type\": \"Float\",\n                \"unit_name\": \"celsius\"\n            }\n        },\n        {\n            \"id\": 372,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"location__longitude__value\",\n                \"description\": \"The GPS longitudinal location of a given vehicle in decimal degrees (WGS 84).\",\n                \"type\": \"Float\",\n                \"unit_name\": \"deg\"\n            }\n        },\n        {\n            \"id\": 373,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"vehicle__hood__status\",\n                \"description\": \"Indicates the engine's hood (bonnet) status.\\r\\n0 - closed\\r\\n1 - open\",\n                \"type\": \"Integer\",\n                \"unit_name\": \"\"\n            }\n        },\n        {\n            \"id\": 374,\n            \"model\": \"Model S\",\n            \"make\": \"Tesla\",\n            \"year\": \"2021\",\n            \"engine_type\": \"Electric\",\n            \"attribute\": {\n                \"attribute_name\": \"mobility__odometer__value\",\n                \"description\": \"The accumulated distance traveled by a vehicle in km\",\n                \"type\": \"Float\",\n                \"unit_name\": \"km\"\n            }\n        }\n    ]\n}"
                filtered by page size:
[...]
